/**
 * helpers use in float,text-align, padding, margin, etc.
 */
$direction: ltr !default;
$dir-mode-align: right !default;
$dir-mode-align-inverse: left !default;
$dir-mode-font-size-base: 14px !default;

$dir-mode-font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$dir-mode-font-family-serif: Georgia, "Times New Roman", Times, serif !default;
